<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Quiz Taker - CS 437 Final Project</title>

        <meta name="description" 
              content="Sam Messina and Dan Jensen's Project. An automatic quiz 
              taker for CS 437's Machine Learning class.">

        <meta name="viewport" 
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" 
              href="./node_modules/skeleton-css/css/normalize.css" 
              type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" 
              href="./node_modules/skeleton-css/css/skeleton.css" 
              type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" 
              href="./css/main.css" 
              type="text/css" media="screen" charset="utf-8">
    </head>

    <body id="aboutpage" class="container">
        <h1>Background Info</h1>
        <ul>
            <hr>
            <li>Ever had a class where online quizzes counted for extra credit?</li>
            <hr>
            <li>Ever had a class where online quizzes were the only study guide?</li>
            <hr>
            <li>Ever had a class where online quizzes could be taken unlimited times?</li>
            <hr>
        </ul>
        <p id="ustoo">Us too!</p>
        <p>FuzzBot is a fuzzy expert system that will learn from its mistakes, eventually acing its tests.</p>
        <p>Let's get started!</p>
        <button class="button-primary" onclick="window.location.href='/test'" href="/test" >
            Take A Quiz
        </button>
    </body>

</html>
