appdirs==1.4.3
atomicwrites==1.1.5
Brlapi==0.6.6
chardet==3.0.4
click==6.7
configobj==5.0.6
cupshelpers==1.0
Flask==0.12.2
greenlet==0.4.12
icalendar==3.11.5
idna==2.6
isc==2.0
itsdangerous==0.24
Jinja2==2.10
khal==0.9.6
louis==3.3.0
MarkupSafe==1.0
msgpack-python==0.4.8
neovim==0.1.13
neovim-remote==1.8.2
packaging==16.8
psutil==5.3.1
pycairo==1.15.4
pycups==1.9.73
pycurl==7.43.0
pydbus==0.6.0
pygobject==3.26.1
pyparsing==2.2.0
pyperclip==1.5.27
pysmbc==1.0.15.8
python-dateutil==2.6.1
pytz==2017.2
pyxdg==0.25
-e git+https://github.com/regexpressyourself/Quiz-Taker.git@cb65a07152c52dab1b7f46970429814861069b98#egg=quiz_taker
requests==2.18.4
simplejson==3.12.0
six==1.11.0
team==1.0
termcolor==1.1.0
tzlocal==1.4
urllib3==1.22
urwid==1.3.1
virtualenv==15.1.0
Werkzeug==0.12.2
youtube-dl==2017.11.15
